@model IEnumerable<Homework1.Models.ViewModels.MoneyViewModel>
@{
    ViewBag.Title = "Home Page";
    var num = 1;
    Layout = null;
}

<style>
    .red{
        color:red
    }
    .blue{
        color:blue
    }
</style>
<div>
    @Html.Action("Insert")
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                    <th>@Html.DisplayNameFor(model => model.CostDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Cost)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(num ++)</td>
                        <td class="@columnColor(@item.Type)">@Html.DisplayFor(model => item.Type)</td>
                        <td>@Html.DisplayFor(model => item.CostDate, "{ 0:yyyy - MM - dd}")</td>
                        <td>@Html.DisplayFor(model => item.Cost)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@helper columnColor(string type) { 
if(type=="支出")
    {
        @("red")
    }
else
    {
        @("blue")
    }
}
