@model IEnumerable<Homework1.Models.ViewModels.MoneyViewModel>
@{
    ViewBag.Title = "Home Page";
    var i = 0;
}
<div class="well">
    @Html.Action("Insert")
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <th>@Html.DisplayNameFor(model => model.CostDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@(i+=1)</td>
                <td>@Html.DisplayFor(model => item.Type)</td>
                <td>@Html.DisplayFor(model => item.Cost)</td>
                <td>@Html.DisplayFor(model => item.CostDate, "{ 0:yyyy - MM - dd}")</td>
            </tr>
        }
    </tbody>
</table>