@model Homework1.Models.ViewModels.CreateMoneyViewModel

@{
    ViewBag.Title = "Insert";
}


<div class="well">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.TypeDropList, htmlAttributes: new { @class = "form-control", id = "category" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", placeholder = "金額", style = "max-width:100%;" } })
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CostDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CostDate, "{ 0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "日期", style = "max-width:100%;", Type = "date" } })
                    @Html.ValidationMessageFor(model => model.CostDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Memo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control", style = "max-width:100%;" } })
                    @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <input type="submit" value="送出" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    @Html.Action("Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
